body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    max-height: 100vh;
    overflow: auto;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-top: 10px; /* Space between the header and the buttons */
}

.filter-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 32px;
    background-color: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.filter-button.active {
    background-color: darkorange;
}

.filter-button.active {
    background-color: orange;
    color: white;
}

.filter-button:not(.active) {
    background-color: #f0f0f0;
    color: #333;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container input[type="checkbox"] {
    accent-color: orange; /* Adjust the color to match your design */
}

/* Popup Overlay */
.popup-overlay {
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* POPUP */
.popup {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 400px;
    line-height: 1.6;
    hyphens: auto;

}

.message-box {
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
    align-items: center;
}

.popup-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.popup-button.contact-driver {
    background-color: #ddd;
    color: black;
}

@media (max-width: 768px) {
    .popup {
        width: 90%; /* Allow the popup to be wider on small screens */
        padding: 15px;
    }
    .message-box p {
        font-size: 14px; /* Smaller font size for smaller screens */
    }
}

/*NAVBAR*/

.navbar {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.nav-item .icon {

    font-size: 24px;
    margin-bottom: 5px;
}

.nav-item .label {
    font-size: 12px;
    color: #777;
}

.nav-item.active .label {
    color: #FFA500;
}
.nav-item:hover .label {
    color: #FFA500;
}

.nav-item.active:after {
    content: '';
    display: block;
    margin-top: 5px;
    height: 3px;
    width: 100%;
    background-color: #007bff;
}


@media (max-width: 768px) {
    .main-content {
        align-items: center;
    }
    .group-card {
        flex: 0 1 100%;
    }
}




